body {
    background-image: linear-gradient(to right,red 0%, blue 100%);
    color: white;
    padding: 60px;
    padding-top: 0px;
    padding-bottom: 10px;
}

/*******Tab Info********/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: black;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 33.33%;
    padding: 14px 16px;
    transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: gray;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: green;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    line-height: 2;
    padding: 60px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-top: none;
}


#MixedReality {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    line-height: 25px;
    padding: 40px;
    border-top: none;
}


/* Photo Gallery One */

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides1 {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container1 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1,
.dot1:hover {
  background-color: #717171;
}

/* Fading animation */
.fade1 {
  -webkit-animation-name: fade1;
  -webkit-animation-duration: 1.5s;
  animation-name: fade1;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade1 {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade1 {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev1,
  .next1,
  .text1 {
      font-size: 11px
  }
}

/* Photo Gallery Two */

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
      font-size: 11px
  }
}